<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Header -->
    <header id="header">
        <h1> Mi Pagina </h1>
        <nav>
            <ul>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#one">Mi especialidad</a></li>
                <li><a href="#two">Sobre Mi</a></li>
                <li><a href="#work">Programación</a></li>
            </ul>
        </nav>
    </header>
    <!-- Intro -->
    <section id="intro" class="main style1 dark fullscreen">
        <div class="content">
            <header>
                <h2> Hola </h2>
            </header>
            <p>
                Bienvenido a mi pagina te explicare hacerca sobre mi especialidad <a href="https://html5up.net/license"></a>.
            </p>
            <footer>
                <a href="#one" class="button style2 down">More</a>
            </footer>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main style2 right dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>Desarrollo de Software</h2>
            </header>
            <p>
                Hola mi nombre es Paola Acosta y esta es mi pagina que es diseñada por C#
                soy estudiante del Intituto Tecnologico "Benito Juarez" estudio la carrera
                de desarrollo de software me encuentro en tercer semestre.
                <br />
                Me gusta la especialidad ya que es una carrer muy interesante y ademas es muy tecnologica
            </p>
        </div>
        <a href="#two" class="button style2 down anchored">Next</a>
    </section>

    <!-- Two -->
    <section id="two" class="main style2 left dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>Sobre Mi</h2>
            </header>
            <p>
                Me gusta mucho los animales,especialmente los gatos, me gusta jugar el basqueth y la natación
                me encanta la medicina es muy interesante saber de como nuestro organismo tiene diferentes funciones.
            </p>
        </div>
        <a href="#work" class="button style2 down anchored">Next</a>
    </section>

    <!-- Work -->
    <section id="work" class="main style3 primary">
        <div class="content">
            <header>
                <h2>Programación</h2>
                <p>
                    La programacion es algo totalmente asombroso, ya que se puede cambiar la vida del
                    ser humano con la tecnologia porque hoy en dia las personas ocupan mucho los celulares,
                    tables,computadoras y se encuentran comunicados al rededor del mundo
                </p>
            </header>

            <!-- Gallery  -->
            <div class="gallery">

                <article class="from-right">
                    <a href="~/images/thumbs/02.jpg" class="image fit"><img src="~/images/two.jpg" title="Programacion" alt="" /></a>
                </article>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">

        <!-- Menu -->
        <ul class="menu">
            <li>&copy; Untitled</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.poptrox.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>